*{
  margin: 0px;
  padding: 0px;
}

#can{
  /* background-color: Red; */
}
input{
  margin: 5px;
  margin-left: 15px;
}
label{
  margin-left: 20px;
}
input:focus{
  background-color: rgba(255, 22, 100,0.3);
}
